{% extends "base.html" %}


{% block title %}
About
{% endblock %}

{% block header %}
About
{% endblock %}

{% block content %}
Nearlog Server is the server portion of Nearlog.
<h1>API Ref</h1>
<h2>Submitting cases</h2>
<p>To submit a case, request (using GET) <code style="font-family: monospace;"></code>nearlog.appspot.com/submit/<uuid>/<case></p>
{% endblock %}
