<html>
  <head>
    <title>{% block title %}Nearlog Server{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"> <!-- This may use W3.CSS lbraries. Documentation is available here: https://www.w3schools.com/w3css -->
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="w3-bar w3-deep-purple ">
      <a href="/" class="w3-bar-item w3-button">Nearlog Server</a>
      <a href="/data.html" class="w3-bar-item w3-button w3-mobile">Data</a>
      <a href="/about" class="w3-bar-item w3-button w3-mobile">About</a>
    </div>
    {% endblock %}
    <header>
      <h1>{% block header %}{% endblock %}</h1>
    </header>
    <div>
      {% block content %}{% endblock %}
    </div>
    {% block notice %}
    {% endblock %}
    {% block footer %}
    <div class="w3-container w3-deep-purple ">
      By <a href="https://gitlab.com/colourdelete">ColourDelete</a>. Version <b>0.4.4</b>.
    </div>
    {% endblock %}
  </body>
</html>
