{% extends "base.html" %}


{% block title %}
Data
{% endblock %}

{% block header %}
Data
{% endblock %}

{% block content %}
<p>Number of cases (according to Nearlog):</p>
<h1>{{ data_len }}</h1>
<table>
  <tr>
    <th>#</th>
    <th>UUID</th>
    <th>Cause</th>
  </tr>
  {% for i in range(data_len): %}
    <tr>
      <th>{{ i }}</th>
      <th>{{ data[i][0] }}</th>
      <th>{{ data[i][1] }}</th>
    </tr>
  {% endfor %}
</table>
{% endblock %}
